@import url('config.css');
@import url('darkmod.css');

@media (min-width:481px){

@media (max-width:768px){
  
  .hide{
    display: none;
  }

  .check{
    background: var(--color-selected);
    
  }
  .check svg path{
    fill: white;
  }



  body,html{
    overflow: hidden;
  }
  
body{
  width: 100vw;
  height: 100vh;
}

main{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;



}

.controlTime{
  padding: 2rem;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 2rem;

}

.time{
  font-family: 'Roboto',sans-serif;
  font-size: clamp(6rem,6rem + 10vw,18rem);

}
.control{
  display: flex;
  gap: 2rem;
}
.control button{
  border-radius: 15rem;
  border: none;
  background: transparent;
  width: 4.8rem;
  height: 4.8rem;
}



.sons{
 
  
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  
  
}

.sons button{
  border:none;
  border-radius:2.4rem;
  width: 2rem;
  height: 2rem;
  justify-self: center;
 
}

.a,.b,.c,.d{
  position: relative;

  display: grid;
  width:13rem;
  height: 15rem;
  justify-self: center;
  align-self: start;

}
.a [type="range"],.b [type="range"],.c [type="range"],.d [type="range"]
{
  position: absolute;
  justify-self: center;
  bottom: 0;
  margin-bottom: 2rem;
}















}


}